body{
  background-color: dodgerblue;
  margin: 0;
  min-width: 950px;
  font-family: 'Press Start 2P', cursive;
}

canvas{
  border: 5px solid snow;
  position: absolute;
}

header{
  font-size: 3em;
  color: snow;
  text-align: center;
}

#main{
    display:block;
    width:90%;
    padding:20px 3%;
    height:40%;
    min-width: 1000;
}
#canvas-container{
    display:inline-block;
    width:60%;
    padding:20px 3%;
    height:40%;
}

#item-list{
  list-style: none;
}

#menu-container{
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
  width: 30%;
  height: 510px;
  background-color: snow;
  position: absolute;
}

#menu-bar{
  background-color: deeppink;
  width: 100%;
  margin: 0;
  height: 40px;
}

.menu-bar-button{
  width: 50%;
  height: 100%;
  display: inline-block;
  text-align: center;
  padding-top: 1em;
  font-size: 1em;
}

#show-controls{
  background-color: snow;
  float: right;
}

#show-status{
  background-color: lightgray;
}

h1{
  font-size: 2em;
}
ul{
  list-style-type: none;
  margin-left: -40px;
}

#controls{
}

#status{
  display: none;
}
